.certificate {
    img {
        width: 100%;
        transition: transform 0.3s;

        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}

.certificate_toggler {
    transition: all 0.3s;
    &:hover {
        transform: scale(1.1);
    }
}
