#introduction {
    margin-top: 6rem; // to offset the space that is occupied by the header
    height: 90vh;
    @media (max-width: 992px) {
        margin-top: 4.7rem; // high of expended navbar (75.19)/ default font size (16)
    }
}
