.nav-item {
    &:after {
        content: '';
        display: block;
        width: 50%;
        background-color: var(--bs-primary);
        height: 2px;
        border-radius: 50px;
        margin: auto;
        transition: all 0.2s;
        visibility: hidden;

        @media (max-width: 48rem) {
            margin: initial;
            width: 0;
        }
    }

    &:hover:after {
        visibility: visible;
    }

    .nav-link:hover {
        color: var(--bs-primary);
    }
}

.header-highlight {
    display: block;
    height: 4px;
    width: 35px;
    border-radius: 25px;
    background-color: var(--bs-primary);
}
