.skill {
    border: 1px solid rgba(245, 245, 245, 0.7);
    width: inherit;
    transition: transform 0.2s;

    &__logo {
        height: 50px;
        width: 50px;

        & img {
            height: inherit;
            width: inherit;
        }
    }

    &:hover {
        transform: translatey(-2px);
    }
}

.skill-container {
    width: 100%;
    max-width: 100%;

    @include media-breakpoint-up(sm) {
        max-width: 250px;
    }

    @include media-breakpoint-up(md) {
        max-width: 200px;
    }
}
