$font-family-base: 'Rubik', sans-serif;

$spacer: 1rem !default;
$spacers: (
    0: 0,
    1: $spacer * 0.25,
    2: $spacer * 0.5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 4,
    7: $spacer * 6,
    8: $spacer * 8,
    9: $spacer * 12,
    10: $spacer * 16
) !default;

// NAVBAR
$navbar-nav-link-padding-x: $spacer * 0.8; // padding x-axis
$navbar-padding-y: $spacer * 1.1;
$nav-link-font-size: $spacer * 1.1; // nav-links size
// $navbar-light-toggler-border-color: red;
// COLORS
$primary: #dfa340;

// scss-docs-start grid-breakpoints
// $grid-breakpoints: (
//     xs: 0,
//     sm: 425px,
//     md: 768px,
//     lg: 992px,
//     xl: 1200px,
//     xxl: 1400px
// ) !default;
// scss-docs-end grid-breakpoints

// Import all of Bootstrap’s CSS
@import 'bootstrap/scss/bootstrap';
