// custom variables & functions
@import './abstract/functions';
@import './abstract/variables';

// Configuration
@import '/node_modules/bootstrap/scss/functions';
@import '/node_modules/bootstrap/scss/variables';

// custom maps
@import './abstract/maps';

@import '/node_modules/bootstrap/scss/maps';
@import '/node_modules/bootstrap/scss/utilities';

// custom utilities
@import './abstract/utilities';
@import '/node_modules/bootstrap/scss/mixins';

// custom base
@import './base//reset';

// Layout & components
@import '/node_modules/bootstrap/scss/root';
@import '/node_modules/bootstrap/scss/reboot';
@import '/node_modules/bootstrap/scss/type';
@import '/node_modules/bootstrap/scss/containers';
@import '/node_modules/bootstrap/scss/grid';
@import '/node_modules/bootstrap/scss/buttons';
@import '/node_modules/bootstrap/scss/button-group';
@import '/node_modules/bootstrap/scss/card';
@import '/node_modules/bootstrap/scss/forms';
@import '/node_modules/bootstrap/scss/forms/form-text';
@import '/node_modules/bootstrap/scss/forms/form-control';

@import '/node_modules/bootstrap/scss/close';
@import '/node_modules/bootstrap/scss/nav';
@import '/node_modules/bootstrap/scss/navbar';
@import '/node_modules/bootstrap/scss/images';
@import '/node_modules/bootstrap/scss/transitions';
@import '/node_modules/bootstrap/scss/badge';
@import '/node_modules/bootstrap/scss/toasts';

// helpers
@import '/node_modules/bootstrap/scss/helpers';

// utilities
@import '/node_modules/bootstrap/scss/utilities/api';

// Components
@import './components/certificate';
@import './components/introduction';
@import './components/introductionAndCertificates';
@import './components/nav';
@import './components/project';
@import './components/skill';
@import './components/buttons';
